.questions {}

.questions__search {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.questions__search-input {
  width: 700px;
}

.questions__list {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.questions__list:not(:first-child) {
  margin-top: 20px;
}